<template name="settings">
    <div class="page register">
        {{#nav title='用户设置' isback=true}}
        <a href="#" class="nav-item"><span class="icon-logout">退出</span></a> {{/nav}}
        <div class="content-scrollable">
            <div class="bg-image setting">
                <h1 class="title">
                    <img alt="user-avatar" src="{{avatar}}">
                </h1>
                <span class="hours"></span>
            </div>
            <div class="sign-panel pd15">
                <form name="settingsForm">
                    <div class="form-group">
                        <label class="control-label opt5">全名</label>
                        <input id="name" type="text" value="{{userName}}" name="name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label opt5">邮箱</label>
                        <input id="email" type="email" value="{{userMail}}" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label opt5">密码</label>
                        <input id="password" type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label opt5">生日</label>
                        <input id="birthday" type="date" name="birthday" class="form-control">
                    </div>
                    <button class="btn btn-nearby btn-block" type="submit">保存</button>
                </form>
            </div>

        </div>
    </div>
</template>
