<template name="menu">
    <a href="/" class="active">
        <span class="wrapper-menu-item">
          <span class="icon-home"></span>
        <span class="title-menu">Home</span>
        </span>
    </a>
    <a href="/feed">
        <span class="wrapper-menu-item">
          <span class="icon-rss"></span>
        <span class="title-menu">What's<br>Cooking</span>
        </span>
    </a>
    <a href="/recipes">
        <span class="wrapper-menu-item">
          <span class="icon-category"></span>
        <span class="title-menu">Recipes</span>
        </span>
    </a>
    <a href="/bookmarks">
        <span class="wrapper-menu-item">
          <span class="icon-bookmark-hollow"></span>
        <span class="title-menu">Bookmarks</span>
        </span>
    </a>
    <a href="/about">
        <span class="wrapper-menu-item">
          <span class="icon-question"></span>
        <span class="title-menu">About</span>
        </span>
    </a>
</template>
