<template name="icons">
    <div class="page icons" style="font-size:1.4rem;">
        {{>nav title='icons' isback=true}}
        <div class="content-scrollable" style="padding-top:6rem;">
            <span class="icon-unlock"></span>
            <span class="icon-admin"></span>
            <span class="icon-category"></span>
            <span class="icon-commit"></span>
            <span class="icon-compass"></span>
            <span class="icon-document"></span>
            <span class="icon-gdrive"></span>
            <span class="icon-speaker"></span>
            <span class="icon-youtube"></span>
            <span class="icon-camera"></span>
            <span class="icon-facebook"></span>
            <span class="icon-github"></span>
            <span class="icon-twitter"></span>
            <span class="icon-hourglass"></span>
            <span class="icon-link"></span>
            <span class="icon-play"></span>
            <span class="icon-video"></span>
            <span class="icon-expand"></span>
            <span class="icon-flag"></span>
            <span class="icon-globe"></span>
            <span class="icon-pin"></span>
            <span class="icon-face-happy"></span>
            <span class="icon-face-neutral"></span>
            <span class="icon-face-sad"></span>
            <span class="icon-thumbs-up"></span>
            <span class="icon-book"></span>
            <span class="icon-credit"></span>
            <span class="icon-dashboard"></span>
            <span class="icon-profile"></span>
            <span class="icon-beaker"></span>
            <span class="icon-box"></span>
            <span class="icon-shield"></span>
            <span class="icon-structure"></span>
            <span class="icon-doc-list"></span>
            <span class="icon-graph-bar"></span>
            <span class="icon-graph-line"></span>
            <span class="icon-list-unordered"></span>
            <span class="icon-doc-chart"></span>
            <span class="icon-heart-hollow"></span>
            <span class="icon-heart"></span>
            <span class="icon-star"></span>
            <span class="icon-circle-hollow"></span>
            <span class="icon-circle"></span>
            <span class="icon-ellipsis"></span>
            <span class="icon-star-hollow"></span>
            <span class="icon-arrow-left-alt"></span>
            <span class="icon-arrow-right-alt"></span>
            <span class="icon-arrow-up"></span>
            <span class="icon-chevron-down"></span>
            <span class="icon-arrow-down"></span>
            <span class="icon-arrow-left"></span>
            <span class="icon-arrow-right"></span>
            <span class="icon-download"></span>
            <span class="icon-proceed"></span>
            <span class="icon-time"></span>
            <span class="icon-timer"></span>
            <span class="icon-menu"></span>
            <span class="icon-outbox"></span>
            <span class="icon-print"></span>
            <span class="icon-rss"></span>
            <span class="icon-comment"></span>
            <span class="icon-email"></span>
            <span class="icon-reply"></span>
            <span class="icon-share"></span>
            <span class="icon-alert"></span>
            <span class="icon-paperclip"></span>
            <span class="icon-power"></span>
            <span class="icon-question"></span>
            <span class="icon-check"></span>
            <span class="icon-key"></span>
            <span class="icon-lock"></span>
            <span class="icon-close"></span>
            <span class="icon-cross"></span>
            <span class="icon-search"></span>
            <span class="icon-sync"></span>
            <span class="icon-add"></span>
            <span class="icon-copy"></span>
            <span class="icon-plus"></span>
            <span class="icon-trash"></span>
            <span class="icon-cog"></span>
            <span class="icon-edit"></span>
            <span class="icon-home"></span>
            <span class="icon-user-add"></span>
            <span class="icon-percolate"></span>
            <span class="icon-user-alt"></span>
            <span class="icon-user"></span>
            <span class="icon-users"></span>
        </div>
    </div>
</template>
