.bg-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    &.home {
        @include background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.0) 100%),url("/images/app/bg-home-640x655.jpg"));
    }
    &.login {
    }
    .title-bg {
        position: absolute;
        top: 4.5rem;
        width: 100%;
        left: 0;
        padding: 0.4rem;
        @include box-sizing(border-box);
        img {
            display: block;
            width: 100%;
        }
    }
    .hours {
        img {
            width: 80%;
            display: block;
            margin: 0 auto;
        }
    }
}
