.owl-carousel {
    width: 100%;
    height: 100%;
    img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .owl-controls {
        .owl-pagination {
            position: absolute;
            bottom: 0rem;
            width: 100%;
        }
        .owl-buttons {
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -2rem;
            .owl-prev {
                left: 0.5rem;
                position: absolute;
            }
            .owl-next {
                right: 0.5rem;
                position: absolute;
            }
        }
    }
}

#uploadAvatar {
    display: block;
    z-index: 9999;
    position: absolute;
    @include opacity(0);
    width: 4rem;
    height: 4rem;
    right: 1.5rem;
    bottom: 1.5rem;
}

#uploadIcon,
#crossIcon {
    display: block;
    z-index: 9998;
    line-height: 4.0rem;
    height: 4.0rem;
    width: 4.0rem;
    position: absolute;
    background: #46c8f5;
    color: #fff;
    font-size: 3.0rem;
    text-align: center;
}

#uploadIcon {
    right: 1.5rem;
    bottom: 1.5rem;
}

#crossIcon {
    left: 1.5rem;
    bottom: 1.5rem;
    font-size: 2.2rem;
}
