<template name="postsList">
    <div class="page home">
        {{>nav title='Local Market' black=true}}
        <div class="content-scrollable">
            <div class="bg-image home">
                <h1 class="title-home">
                    <img alt="Local Market" src="/images/app/logo-local.svg">
                </h1>
                <span class="hours"></span>
            </div>
            <div class="posts">
                <ul class="list-activities">
                    {{#each posts}}
                        {{> postItem}}
                    {{/each}}
                </ul>
            </div>
        </div>
        {{#if currentUser}}<a class="btn btn-block btn-primary js-open" href="{{pathFor 'postAdd'}}">创建新帖子</a>{{/if}}
    </div>
</template>
