<template name="postsList">
    <div class="page post-list">
        {{> nav title='Post list' black=true}}

        <div class="content-scrollable">
            <div class="list-posts">
                {{#each posts}} {{> postItem}} {{/each}}
            </div>
        </div>
        <a class="btn btn-block btn-primary js-add-post" href="{{pathFor 'postAdd'}}">发起拼团</a>
    </div>
</template>
<!--<template name="postsList">
    <div class="page home">
        {{#nav title='Local Market' black=true}}
        <a class="nav-item js-setting" href="{{pathFor 'settings'}}"><span class="icon-user"></span></a> {{/nav}}
        <div class="content-scrollable">
            <div class="bg-image home">
                <h1 class="title-home">
                    <img alt="Local Market" src="/images/app/logo-local.svg">
                </h1>
                <span class="hours"></span>
            </div>
            <div class="posts">
                <ul class="list-activities">
                    {{#each posts}} {{> postItem}} {{/each}}
                </ul>
            </div>
        </div>
        <a class="btn btn-block btn-primary js-add-post" href="{{pathFor 'postAdd'}}">创建新帖子</a>
    </div>
</template>-->
