<template name="postItem">
    <a class="item-post {{highlightedClass}}" href="{{pathFor 'postDetails'}}">
        <span class="attribution">
        <span class="title-post">{{title}}</span>
        <span class="metadata-post">
          <span class="author-post">{{author}}</span>
        <span class="bookmarks-post"><span class="icon-bookmark"></span> {{bookmarkCount}}</span>
        </span>
        </span>
        {{#each postGallery}}
        <img src="{{this.url store='original' uploading='/images/uploading.gif' storing='/images/storing.gif'}}" /> {{/each}}
    </a>
</template>
