<template name="postDetails">
    <div class="page post-details {{activeTabClass}}" style="transform: translateX(0px);">
        {{#nav title='Recipe' black=true isback=true}} {{#if isOwen}}
        <a class="nav-item" href="{{pathFor 'postEdit'}}"><span class="icon-edit"></span></a> {{else}} {{#if bookmarked}}
        <a href="#" class="nav-item js-remove-bookmark bookmarked"><span class="icon-star"></span></a> {{else}}
        <a href="#" class="nav-item js-add-bookmark"><span class="icon-star-hollow"></span></a> {{/if}} {{/if}} {{/nav}}

        <div class="bg-image" style="background-image: url('/images/recipes/640x800/summer-apricots-honey-panna-cotta.jpg')">
            <div class="owl-carousel owl-theme" style="z-index:2">
                {{#each postGallery}}
                {{> galleryItem}}
                {{/each}}
            </div>
        </div>

        <div class="attribution-title js-uncollapse">
            <h1 class="title">{{title}}</h1>
            <div class="metadata-wrapper">
                <p class="description">Juicy, fragrant, perfectly textured for a little fire action</p>
                <span class="source">Tartelette</span>
                <span class="time">35 min</span>
            </div>

            <div class="btns-group pure-g">
                <div class="pure-u-1-2">
                    <a class="btn btn-secondary btn-block {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-order">详情</a>
                </div>
                <div class="pure-u-1-2">
                    <a class="btn btn-secondary btn-block {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-comment">评论</a>
                </div>
            </div>
        </div>


        <div class="content-scrollable static-nav order-scrollable">
            <a class="btn-tertiary js-share"><span class="icon-camera"></span> Share that you made this</a>

            <h2 class="list-title">参与用户</h2>
            <ul class="list-ingredients">
               {{#each userList}}
                <li class="item-ingredient">1</li>
                {{/each}}
            </ul>

            <h2 class="list-title">Directions</h2>
            <ol class="list-directions">

                <li class="item-direction">
                    <span class="text">Cut the apricots in half and remove the pit. Brush lightly with olive oil and grill over hot coals until tender (about 3-4 minutes on each side).</span>
                </li>

                <li class="item-direction">
                    <span class="text">Let cool and puree until smooth in a food processor. Divide the mixture between 6 glasses.</span>
                </li>

                <li class="item-direction">
                    ...
                </li>
            </ol>
            <a href="http://www.tarteletteblog.com/2011/07/recipe-gluten-free-apricots-honey-panna.html" target="_blank" class="btn btn-block btn-primary js-open">See full recipe on Tartelette</a>
        </div>

        <div class="content-scrollable static-nav comment-scrollable">
            <div class="list-activities">
                {{#each activities}} {{> activity}} {{else}}
                <div class="wrapper-message">
                    <div class="title-message">No feed activity yet</div>
                    <div class="subtitle-message">Be the first to share that you made this recipe. <a class="js-share">Share now</a></div>
                </div>
                {{/each}}
            </div>
            <a class="btn btn-block btn-primary js-share"><span class="icon-camera"></span> 添加评价</a>
        </div>
    </div>
</template>
