.page {
    &.credit {
        .content-scrollable {
            background: #f5f2f2;
            .credit-form {
                .form-group {
                    padding-left: 3rem;
                    padding-right: 3rem;
                    position: relative;
                    input {
                        display: block;
                        width: 100%;
                        @include box-sizing(border-box);
                        padding-left: 0.3rem;
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        border: 0;
                        padding-top: 0;
                        padding-bottom: 0;
                    }
                    ins {
                        position: absolute;
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        &.phone {
                            left: 0;
                            font-size: 2.4rem;
                            line-height: 2.4rem;
                        }
                        &.line {
                            width: 1px;
                            line-height: 2.4rem;
                            height: 2.4rem;
                            background: #ccc;
                            left: 2rem;
                        }
                        &.reset {
                            right: 0;
                            top: 0;
                            font-size: 1.4rem;
                            line-height: 2.4rem;
                            text-decoration: none;
                            i {
                                line-height: 2.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .credit-list {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        margin-top: 1.0rem;
        .credit-item {
            margin-bottom: 1.0rem;
            .item-box {
                text-align: center;
                @include border-radius(3px);
                border-width: 1px;
                border-style: solid;
                border-color: #ccc;
                line-height: 2.4rem;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
                letter-spacing: 0.3rem;
                position: relative;
                @include box-sizing(border-box);
                .red {
                    color: #cf0000;
                }
                ins {
                    display: none;
                    width: 2.0rem;
                    position: absolute;
                    right: 0;
                    bottom: -1px;
                    @include border-radius(3px);
                    overflow: hidden;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }
            &.curr {
                .item-box {
                    border-color: #cf0000;
                }
                ins {
                    display: block;
                }
            }
            sub {
                font-size: 1.2rem;
                bottom: 0;
            }
            em {
                font-size: 1.8rem;
                font-style: normal;
            }
            span {
                font-size: 1.4rem;
            }
        }
    }
}
