<template name="appBody">
    <div class="wrapper-welcome">
        <div class="title-welcome">翼分期 - 充值平台</div>
        <div class="description-welcome"></div>
    </div>
    <div id="container" class="{{menuOpen}} {{overlayOpen}}">
        <section id="menu" class="overthrow">
            {{> menu}}
        </section>

        <div class="notifications">
            {{> notifications}}
        </div>

        {{> overlay}}

        <div class="content-overlay"></div>

        <div id="content-container">
            {{> yield}}
        </div>
    </div>
</template>
