<template name="accessDenied">
    <div class="overlay auth" style="display: block; opacity: 1;">
        <a class="js-close-overlay overlay-dismiss" href="#"><span class="icon-cross"></span></a>

        <div class="wrapper-heading">
            <div class="title-overlay">Sign In</div>
            <div class="subtitle-overlay">To bookmark and share your favorite recipes</div>
        </div>

        <a class="btn btn-block btn-primary js-signin" href="/login">Sign In With Password</a>
    </div>
</template>
